
/node_modules/

.env
src/uploads/*
*.log
logs/*.json
.idea/
.vscode
dist/
# TypeScript incremental build
.tsbuildinfo
*.tsbuildinfo

/inventory-agent/node_modules
/inventory-agent/build
/inventory-agent/dist
